.App {
  text-align: center;
  display:flex ;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


